/* General style*/
:root {
    --font-family: Arial, Helvetica, sans-serif;
    --bold-font: 700;
    --bg-color: black;
    --primary-color: white;
    --secondary-color: grey;
    --feature-color: #ff6200;
    --bottom-margin: 0.5rem;
    --transition: 0.3s;
}

/*Page style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}



h1, h2 {
    color: var(--feature-color);
}

h2 {
    border-bottom: 1px, solid var(--feature-color);
}

body {
    font-family: var(--font-family);
}

.container{
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-heading{
    border-bottom: 3px solid var(--feature-color);
    padding:10px;
    margin-bottom: 20px;
}

/*Navbar*/
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
    flex-wrap: wrap;
}

.navbar-toggler{
    color: var(--primary-color)
}

.navbar-collapse {
    flex-direction: row-reverse;
}

.nav-item{
     background-color: var(--bg-color);
    color: var(--primary-color);
}



/*Hero*/

.masthead{
    min-height: 300px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.img-thumbnail{
    max-height: 200px;
    margin: 20px;
}
.jumbotron h1{
    color: black;
    text-shadow: 2px 2px #ff6200;
}

.jumbotron{
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
}

#quote{
    color: var(--feature-color);
}

.btn{
    color: var(--primary-color);
    background-color: var(--feature-color);
    border-color: var(--feature-color);
}

/*Portfolio cards- bootstrap*/


/*about me- bootstrap*/

/*contact*/
.contact-card{
    color: black;
}

/*footer*/
footer{
    margin-top: 50px;
    background-color: black;
    color: var(--primary-color);
}


/*hover*/
nav a:hover{
    color: var(--secondary-color);
   border-bottom: 2px solid var(--secondary-color);

}

/* hover box shadow effect for btn*/
.btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 0 11px var(--feature-color,0.2);;
}

nav li:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

h4 .text-uppercase:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.contact-card a:hover{
    color: var(--secondary-color);
   border-bottom: 2px solid var(--secondary-color);

}

@media (max-width: 575.98px) { 
    
    
}